/* App */
.fullApplication {
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid black;
}

.title {
  text-align: center;
  margin-bottom: 0;
  margin-top: 0;
  background-color: #F1F1F1;
  padding-top: 20px;
  border: none;
}

.subtitle {
  text-align: center;
  margin-bottom: 0;
  margin-top: 0;
  background-color: #F1F1F1;
  padding-top: 5px;
  padding-bottom: 20px;
}

.navBar {
  background-color: #333;
  height: 30px;
  border: 1px solid black
}

.navBarButton {
  color: #f2f2f2;
  background-color: #333;
  border: none;
  height: 100%;
  width: 200px;
  font-size: 16px;
}

.navBarButton:hover {
  background-color: #F1F1F1;
  color: black;
}

.space {
  width: 8px;
  height: auto;
  display: inline-block;
}

.body {
  font-size: 1.15rem;
  line-height: 1.5;
  display: grid;
  grid-template-columns: 1fr min(90rem, 95%) 1fr;
  margin: 0;
}

.body > * {
  grid-column: 2;
}