/* BrowseCocktails */
.baseSpiritSelector {
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #f2f2f2;
    text-align: center;
    background-color: #333;
    border: 1px solid #333;
    margin-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    letter-spacing: 0.25px;
    line-height: 27px;
}

.browseCocktails {
    text-align: center;
}
  
.browseCocktailsHeader {
    margin-top: 15px;
    margin-bottom: 0;
    padding: 0;
    font-size: 18px;
}

.browseContainer {
    border: 2px solid black;
    padding: 10px;
    margin: auto;
    margin-bottom: 20px;
}

.buttonSubGroup {
    white-space: nowrap;
}

.drinkDetails {
    text-align: left;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 12px;
    line-height: 130%;
}

.primaryButton {
    font-size: 14px;
    color: #f2f2f2;
    background-color: #333;
    border: 1px solid #333;
    letter-spacing: 0.25px;
    padding: 5px;
    margin-top: 5px;
}

.primaryButton:hover {
    background-color: #F1F1F1;
    color: black;
    border: 1px solid black;
}
  
.sortingButtonGroup {
    margin-bottom: 15px;
}
  
.spaceA {
    width: 8px;
    height: auto;
    display: inline-block;
}

.spaceB {
    display: inline-block;
}

@media screen and (min-width: 522px) {
    .spaceB {
        width: 8px;
        height: auto;
    }
}

@media screen and (min-width: 576px) {
    .primaryButton {
        font-size: 16px;
    }
    .baseSpiritSelector {
        font-size: 16px;
        line-height: 28.665px;
    }
    .browseContainer {
        width: 80%;
    }
    .drinkDetails {
        margin-left: 10%;
        margin-right: 10%;
    }
    .browseCocktailsHeader {
        font-size: 21px;
    }
}